
# general
/.idea/
spark-tutorial.iml

# scala
/scala/target/
/scala/spark-tutorial-scala.iml

# java
/java/target/
/java/spark-tutorial-java.iml

# python
/python/target/
/python/spark-tutorial-python.iml
